/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; /* Default font */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Disable vertical scrollbar */
::-webkit-scrollbar {
  display: none;
}

.greek-theme {
  background-color: #f0f7f4;
}

.title {
  font-size: 7.2rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 2rem;
}

/* Description */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background-color: #eff6f3;
  text-align: justify;
  max-width: 90rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.description p {
  font-size: 1.5rem;
  color: #0f4c5c;
}

.gemini-api {
  background: linear-gradient(to right, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Magic Text */
@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.magic {
  display: inline-block;
  position: relative;
}

.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magic > .magic-star > svg > path {
  fill: var(--violet);
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* Input-output fields */
.input-output {
  display: grid;
  grid-template-columns: minmax(250px, 3fr) minmax(250px, 2fr);
  width: 81%;
  margin: auto;
  max-width: 120rem;
}

/* Input Form */
form {
  position: relative;
}
.input-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 90%;
}

.input-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #eff6f3;
  padding: 30px;
  border-radius: 10px;
}

.input-form-container form label {
  color: #0f4c5c;
  font-weight: bold;
}

.input-form-container form input[type="text"],
.input-form-container form textarea,
.input-form-container form select,
.input-form-container form input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #0f4c5c;
  border-radius: 5px;
  background-color: #f0f7f4;
  font-family: "Poppins", sans-serif;
}

.input-form-container form input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0f4c5c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-form-container form input[type="submit"]:hover {
  background-color: #0c3e4a;
}

#input-form::after {
  content: "";
  position: relative;
  inset: 0rem;
  background: linear-gradient(to bottom right, blue, red);
  filter: blur(3em);
  z-index: -1;
  width: 23rem;
  height: 60rem;
  margin-top: -59rem;
}

/* End of Input Form */

/* Result Section */
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #eff6f3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  min-width: 20rem;
}

.result-container h2 {
  font-size: 2rem;
  color: #0f4c5c;
  font-weight: bold;
}

.result-container p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #0f4c5c;
  text-align: justify;
}

.result-container audio {
  margin-top: 1rem;
  width: 80%;
  border-radius: 5px;
  background-color: #f0f7f4;
  padding: 10px;
  border: 1px solid #0f4c5c;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* End of Result Section */

/* Error Section */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #eff6f3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 90%;
}

.error-container h2 {
  font-size: 2rem;
  color: #0f4c5c;
  font-weight: bold;
}

.error-container p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #0f4c5c;
  text-align: justify;
}

/* Generate PDF Section */
#generate-pdf-btn {
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0f4c5c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Translate Response Section */
/* Translate select dropdown menu */
#translate {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #0f4c5c;
  border-radius: 5px;
  background-color: #f0f7f4;
  font-family: "Poppins", sans-serif;
}

#translate-btn {
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0f4c5c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Fine tune text section */
#fine-tune {
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #0f4c5c;
  border-radius: 5px;
  background-color: #f0f7f4;
  font-family: "Poppins", sans-serif;
}

#fine-tune-btn {
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0f4c5c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive */
@media (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }

  .description {
    width: 90%;
  }

  .description p {
    font-size: 1.2rem;
  }

  .input-output {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  #input-form::after {
    content: "";
    position: relative;
    inset: 0rem;
    background: linear-gradient(to bottom right, blue, red);
    filter: blur(3em);
    z-index: -1;
    width: 23rem;
    height: 60rem;
    margin-top: -59rem;
  }
}
