<div class="slider" x-data="{start: true, end: false}">
  <h2 class="slider__title">Sample Celebrities</h2>
  <p class="slider__subtitle">
    Click on any card to generate a sample response of the corresponding
    celebrity to get a glimpse of how the model works. You can scroll down to
    the input form to enter your own celebrity and message.
  </p>
  <div
    class="slider__content"
    x-ref="slider"
    x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;"
  >
    {% for celeb in SAMPLE_CELEBS %}
    <div class="slider__item">
      <a
        onclick="submitSampleCeleb('{{ celeb }} - {{ SAMPLE_CELEBS[celeb].say }}')"
        class="slider_a"
      >
        <img
          class="slider__image"
          src="{{ SAMPLE_CELEBS[celeb].image_src }}"
          alt="Image"
        />
        <div class="slider__info">
          <h2>{{ celeb }}</h2>
          <p>{{ SAMPLE_CELEBS[celeb].say }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
