<!-- Description -->
<div class="description">
  <p>
    PolyPersona is a web application that generates text responses mimicking the
    style of various celebrities using natural language processing (NLP) models
    from the <span class="gemini-api">Gemini API</span>. <br /><br />
    Users input a celebrity's name, desired message and the target language, and
    the system generates a response closely resembling the chosen personality's
    speech patterns.
    <br /><br />
    The application offers multi-language support, customizable model
    parameters, and audio generation from the translated text. Implemented with
    Flask and Google's gTTS (text-to-speech) and googletrans libraries,
    PolyPersona provides a user-friendly interface for easy interaction.
    <br /><br />
    Try it out to experience personalized celebrity-style responses!
  </p>
</div>
<!-- End of Description -->
