<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolyPersona</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body class="greek-theme">
    <h1 class="title">PolyPersona</h1>

    <!-- Description -->
    {% include "description.html" %}
    <!-- End of Description -->

    <!-- Input & Output -->
    {% include "io.html" %}
    <!-- End of Input & Output -->

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- End of Footer -->

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
      // If the user presses "Enter" key, submit the form
      const form = document.getElementById("input-form");
      document.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          loading.style.display = "flex"; // Show the loading section when the form is submitted
          form.submit();
        }
      });

      // Loading Section
      const loading = document.getElementById("loading");
      // Hide the loading section when the page is loaded
      window.onload = () => {
        loading.style.display = "none";
      };
      // Show the loading section when the form is submitted
      form.addEventListener("submit", () => {
        loading.style.display = "flex";
      });

      // If the result section is loaded, scroll to the result section
      const result = document.getElementById("result");
      if (result) {
        result.scrollIntoView({ behavior: "smooth" });
      }

      // Show the value of the temperature range
      function showTemperatureValue(val) {
        document.getElementById("temperatureValue").textContent = val;
      }
      // Show the value of the top k range
      function showTopKValue(val) {
        document.getElementById("top_kValue").textContent = val;
      }
      // Show the value of the top p range
      function showTopPValue(val) {
        document.getElementById("top_pValue").textContent = val;
      }

      // Show information on hover
      function showInfo(val) {
        document.querySelector("#info-" + val).style.display = "block";
      }
      // Hide information on hover
      function hideInfo(val) {
        document.querySelector("#info-" + val).style.display = "none";
      }
    </script>
  </body>
</html>
