<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <h1 class="title">Hello, World!</h1>

    <!-- Input Form -->
    <div class="input-form-container">
      <form action="/celeb" method="POST" id="input-form">
        <h2>Input Form:</h2>

        <!-- Name -->
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Celeb's name..."
          required
        />

        <!-- What to say -->
        <label for="say">What to say:</label>
        <textarea
          id="say"
          name="say"
          required
          rows="4"
          cols="50"
          placeholder="What to say..."
        ></textarea>

        <!-- Language Dropdown menu, given from LANG_MAP.keys() -->
        <label for="language">Language:</label>
        <select id="language" name="language">
          {% for lang in LANG_MAP.keys() %}
          <option value="{{ lang }}">{{ lang }}</option>
          {% endfor %}
        </select>

        <!-- Model Parameters
        - `temperature`: Randomness of the output. High -> diverse & creative, Low -> focused & accurate.
          - Range: 0.0 to 1.0
          - Default: 0.9
        - `top_k`: Top k tokens to consider at each step. Higher -> more diverse, Lower -> more focused.
          - Range: 1 to 40
          - Default: 32
        - `top_p`: Nucleus sampling. Higher -> more diverse, Lower -> more focused.
          - Range: 0.0 to 1.0
          - Default: 1.0
        -->

        <h2>Model Parameters:</h2>

        <label for="temperature">Temperature:</label>
        <input
          type="number"
          id="temperature"
          name="temperature"
          min="0.0"
          max="1.0"
          step="0.1"
          value="0.9"
        />
        <p class="description">
          Randomness of the output. High -> diverse & creative, Low -> focused &
          accurate.
        </p>

        <label for="top_k">Top k:</label>
        <input
          type="number"
          id="top_k"
          name="top_k"
          min="1"
          max="40"
          value="32"
        />
        <p class="description">
          Top k tokens to consider at each step. Higher -> more diverse, Lower
          -> more focused.
        </p>

        <label for="top_p">Top p:</label>
        <input
          type="number"
          id="top_p"
          name="top_p"
          min="0.0"
          max="1.0"
          step="0.1"
          value="1.0"
        />
        <p class="description">
          Nucleus sampling. Higher -> more diverse, Lower -> more focused.
        </p>

        <!-- Submit Button -->
        <input type="submit" value="Submit" />
      </form>
    </div>

    <!-- Result Section -->
    {% if result %}
    <div class="result-container">
      <h2>Response Text:</h2>
      <p>{{ result.response }}</p>
      <h2>Response Audio:</h2>
      <audio controls autoplay>
        <source
          src="data:audio/mpeg;base64,{{ result.audio_base64 }}"
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
    </div>
    {% endif %}

    <!-- Footer -->
    <footer class="footer">
      <p>
        Made with ❤️ by
        <a href="https://github.com/Hardvan">Hardvan</a>
        &amp;
        <a href="https://github.com/Krounosity">Krounosity</a>
      </p>
    </footer>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
      // If the user presses "Enter" key, submit the form
      document.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          document.getElementById("input-form").submit();
        }
      });
    </script>
  </body>
</html>
