<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolyPersona</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body class="greek-theme">
    <!-- Title -->
    <h1 class="title">PolyPersona</h1>
    <!-- End of Title -->

    <!-- Description -->
    <div class="description">
      <p>
        PolyPersona is a web application that generates text responses mimicking
        the style of various celebrities using natural language processing (NLP)
        models from the Gemini API.
        <br /><br />
        Users input a celebrity's name and desired message, and the system
        generates responses resembling the chosen personality's speech patterns.
        <br /><br />
        The application offers multi-language support, customizable model
        parameters, and audio generation from the translated text. Implemented
        with Flask, HTML/CSS/JavaScript, and Python, PolyPersona provides a
        user-friendly interface for easy interaction. Install the application by
        cloning the repository, setting up dependencies, and running the server
        locally.
        <br /><br />
        Try it out to experience personalized celebrity-style responses!
      </p>
    </div>
    <!-- End of Description -->

    <!-- Input Form -->
    <div class="input-output">
      <div class="input-form-container">
        <form action="/celeb" method="POST" id="input-form">
          <h2>Input Form:</h2>
          <!-- Name -->
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Celeb's name..."
            required
          />
          <!-- What to say -->
          <label for="say">What to say:</label>
          <textarea
            id="say"
            name="say"
            required
            rows="4"
            cols="50"
            placeholder="What to say..."
          ></textarea>
          <!-- Language Dropdown menu, given from LANG_MAP.keys() -->
          <label for="language">Language:</label>
          <select id="language" name="language">
            {% for lang in LANG_MAP.keys() %}
            <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
          </select>
          <!-- Model Parameters
          - `temperature`: Randomness of the output. High -> diverse & creative, Low -> focused & accurate.
            - Range: 0.0 to 1.0
            - Default: 0.9
          - `top_k`: Top k tokens to consider at each step. Higher -> more diverse, Lower -> more focused.
            - Range: 1 to 40
            - Default: 32
          - `top_p`: Nucleus sampling. Higher -> more diverse, Lower -> more focused.
            - Range: 0.0 to 1.0
            - Default: 1.0
          -->
          <h2>Model Parameters:</h2>
          <label for="temperature"
            >Temperature
            <span
              class="temp-info"
              onmouseover="showInfo('temperature')"
              onmouseout="hideInfo('temperature')"
              >ⓘ</span
            ></label
          >
          <input
            type="range"
            class="win10-thumb"
            id="temperature"
            name="temperature"
            min="0.0"
            max="1.0"
            step="0.1"
            value="0.9"
            oninput="showTemperatureValue(this.value)"
          />
          <span id="temperatureValue">0.9</span>
          <div class="info-bubble" id="info-temperature" style="display: none">
            Controls the randomness of the output. <br />Higher value = more
            diverse and creative results<br />Low value = more focused and
            accurate output.
          </div>
          <label for="top_k"
            >Top k
            <span
              class="topK-info"
              onmouseover="showInfo('topK')"
              onmouseout="hideInfo('topK')"
              >ⓘ</span
            ></label
          >
          <input
            type="range"
            class="win10-thumb"
            id="top_k"
            name="top_k"
            min="1"
            max="40"
            value="32"
            oninput="showTopKValue(this.value)"
          />
          <span id="top_kValue">32</span>
          <div class="info-bubble" id="info-topK" style="display: none">
            Top k tokens to consider at each step. <br />Higher value = more
            diverse output <br />Lower value = more focused output.
          </div>
          <label for="top_p"
            >Top p
            <span
              class="topP-info"
              onmouseover="showInfo('topP')"
              onmouseout="hideInfo('topP')"
              >ⓘ</span
            ></label
          >
          <input
            type="range"
            class="win10-thumb"
            id="top_p"
            name="top_p"
            min="0.0"
            max="1.0"
            step="0.1"
            value="1.0"
            oninput="showTopPValue(this.value)"
          />
          <span id="top_pValue">1.0</span>
          <div class="info-bubble" id="info-topP" style="display: none">
            Nucleus sampling selects likely tokens. <br />
            Higher 'Top p' yields diverse output, wider possibilities <br />
            Lower 'Top p' results in focused output, narrower token selection.
          </div>
          <!-- Submit Button -->
          <input type="submit" value="Submit" />
        </form>
      </div>
      <!-- End of Input Form -->
      <div class="output">
        <!-- Loading Section -->
        <div class="loading-container" id="loading" style="display: none">
          <div class="typewriter">
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
          </div>
          <p>Generating response...</p>
        </div>
        <!-- End of Loading Section -->
        <!-- Result Section -->
        {% if result %}
        <div class="result-container" id="result">
          <h2>Response Text:</h2>
          <p>{{ result.response }}</p>
          <h2>Response Audio:</h2>
          <audio controls autoplay>
            <source
              src="data:audio/mpeg;base64,{{ result.audio_base64 }}"
              type="audio/mpeg"
            />
            Your browser does not support the audio element.
          </audio>
        </div>
        {% endif %}
      </div>
      <!-- End of Result Section -->
    </div>

    <!-- Footer -->
    <footer class="footer">
      <p>
        Made with ❤️ by
        <a href="https://github.com/Hardvan">Hardvan</a>
        &amp;
        <a href="https://github.com/Krounosity">Krounosity</a>
      </p>
    </footer>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
      // If the user presses "Enter" key, submit the form
      const form = document.getElementById("input-form");
      document.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          loading.style.display = "flex"; // Show the loading section when the form is submitted
          form.submit();
        }
      });

      // Loading Section
      const loading = document.getElementById("loading");
      // Hide the loading section when the page is loaded
      window.onload = () => {
        loading.style.display = "none";
      };
      // Show the loading section when the form is submitted
      form.addEventListener("submit", () => {
        loading.style.display = "flex";
      });

      // If the result section is loaded, scroll to the result section
      const result = document.getElementById("result");
      if (result) {
        result.scrollIntoView({ behavior: "smooth" });
      }

      // Show the value of the temperature range
      function showTemperatureValue(val) {
        document.getElementById("temperatureValue").textContent = val;
      }

      // Show the value of the top k range
      function showTopKValue(val) {
        document.getElementById("top_kValue").textContent = val;
      }

      // Show the value of the top p range
      function showTopPValue(val) {
        document.getElementById("top_pValue").textContent = val;
      }

      // Show information on hover:
      function showInfo(val) {
        document.querySelector("#info-" + val).style.display = "block";
      }

      // Hide information on hover:
      function hideInfo(val) {
        document.querySelector("#info-" + val).style.display = "none";
      }
    </script>
  </body>
</html>
